/* --- VARS --- */
$defaultFontStack : 'Open Sans', Helvetica, Arial, sans-serif;

/* Colors */
$adistecBlue : #005fab;
$adistecLightBlue : #008fcb;

/* Dimensions */
$headerHeight : 74px;
$footerHeight : 50px;

/* --- UI --- */

/* Header */
header{
  .brand-logo{
    padding-top: 6px;

    img{
      height: 40px;
    }
  }
}

.brand-logo.centered{
  width: 100%;
  text-align: center;
}


.korm-nav {
  background-color: #fafafa !important;
}
.korm-logo {
  -webkit-user-select: none;
  padding-top: 6px;
  padding-bottom: 6px;
}
nav{
  ul a {
    color: $adistecBlue;
    font-weight: 700;
    padding: 0 20px;

    &:hover{
      color: #FFF;
      background-color: $adistecBlue;
    }
  }

  ul a.btn{
    margin-right:0px;
  }

  li.username{
    border-left: solid 1px #DDD;
    color: #999;
    padding: 0px 0px 0px 20px;
  }
}

.btn{
  background-color: $adistecBlue;
  border-radius: 0px;
  text-transform: none;

  &:hover,
  &:focus{
    background-color: $adistecLightBlue;
  }
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: $adistecBlue;
}
.korm-fixed-button {
  position: inherit;
  right: 24px;
  margin-bottom: 15px;
}


@mixin removeBoxShadow{
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}

/* Footer */
html, body, #app, [data-reactroot]{
  height: 100%;
}
.main-wrapper {
  min-height: 100%;
  margin-bottom: 0-$footerHeight;
}
.main-wrapper:after {
  content: "";
  display: block;
}
footer, .main-wrapper:after {
  height: $footerHeight;
}
footer{
  display: table;
  width: 100%;
  border-top: solid 1px #EEE;
  color: #999;
  font-size: 0.8rem;
  text-align: center;

  p{
    display:table-cell;
    vertical-align: middle;
    margin:0 auto;
  }
}


/* Tables */
table {
  margin-bottom: 40px;
}
table th{
  background-color: #FAFAFA;
  border: solid 1px #EEE;
  text-transform: uppercase;
  font-weight: 300;
  color: #666;
}
table td{
  padding: 15px 15px;
}

.btn{
  line-height:34px;
}


/* Forms and Buttons */
form label.error{
  color:red;
  position: relative;
  float: left;
  left: 0;
  top: 0;
  font-size: .8rem;
  padding: 0 0.75rem;
}

/* Details */
.details-panel{

  h6 + h4{
    margin-top:10px;
  }
  label + p{
    margin-top:0px;
  }

  .row:last-child{
    margin-bottom:0px;
  }
}

.h-separator:before{
  content:"";
  border-top:solid 1px #EEE;
  width:100%;
  display:block;
  margin-bottom: 10px;
}

/* Login */
.main-wrapper.login-screen{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#FAFAFA;

  .brand-logo{
    margin-top: -50px;
    display: block;
  }

  .login-form-conainer{
    display:inline-block;
    width: 400px;
    padding: 30px 20px;
  }
}

.blue {
  background-color: $adistecBlue !important;
}
.bluefont{
  color: $adistecBlue;

  .material-icons{
    font-size: 17px;
    vertical-align: middle;
  }
}

.btn-flat {
  color: $adistecBlue !important;
}

.korm-content {
  display: inline;
}

.korm-input {
  width: 45%;
  display: inline-block;
}

.korm-row {
  cursor: pointer;
}

input[type=text]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input:not([type]):focus:not([readonly]) + label, input[type=text]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=date]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label{
  color: $adistecBlue !important;
}


input[type=text]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]),
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
  border-bottom: 1px solid $adistecBlue;
  box-shadow: 0 1px 0 0 $adistecBlue;
}

.korm-edit-delete {
  text-align: left;
  cursor: pointer;
  color:$adistecBlue !important;
}

.fixed-action-btn {
  position: inherit !important;
}

.dropdown-btn {
  position: inherit !important;
  height: 0;
  display: -webkit-box;
  padding-left: 40px;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

html,
html body,
html body div{
  font-family: $defaultFontStack !important;
}
h4{
  font-size:1.5rem;
  font-weight: 700;
  color: $adistecBlue;
  padding: 0px;

  &.section-title{
    padding:10px 0px;
  }
}
strong{
  font-weight: 700;
}


.success-modal-body{
  border:solid 1px red;
}


@media only screen and (min-width: 601px){
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i{
    height: $headerHeight;
    line-height: $headerHeight;
  }
  .navbar-fixed{
    height: $headerHeight;
  }
}

input.invalid + label.active {
  width: 100%;
}

.input-field{
  margin-top: 1.8rem;
}
textarea.materialize-textarea{
  /*min-height:0px;
  height:auto;*/
  padding:0px;
}